{% comment %}
  Accepts:
    - quick_view_product {Object} The product object
    - link_type {String} The link type (general, desktop, mobile)
    - button_classes {String} The button classes

  Usage:
    {% render 'quick-view-modal', quick_view_product: product, link_type: 'desktop' %}
{% endcomment %}

{% capture quick_view_link %}
  {% if link_type == 'desktop' %}
    <a aria-label="{{ 'products.general.view_options_for_product' | t: product: quick_view_product.title }}" data-modal-button class="btn quick-add-button-variants quick-add-button-variants-desktop" tabindex="0" href="{{ quick_view_product.url | within: collection }}" data-product-card-link>{{ 'products.product.view_options' | t }}</a>
  {% elsif link_type == 'mobile' %}
    <a aria-label="{{ 'products.general.view_options_for_product' | t: product: quick_view_product.title }}" data-modal-button class="quick-add-button-variants quick-add-button-variants-mobile icon-btn-focus-inner btn-hover-default-inner" tabindex="0" href="{{ quick_view_product.url | within: collection }}" data-product-card-link><span class="btn-colors-primary round-icon-btn-sm">{% render 'theme-icon' with icon: 'shopping-bag', iconClasses: 'quick-view-mobile-icon', iconSize: 16 %}</span></a>
  {% else %}
    <a aria-label="{{ 'products.general.view_options_for_product' | t: product: quick_view_product.title }}" data-modal-button class="{{ button_classes }} quick-add-button-variants quick-add-button-variants-desktop" data-product-card-link tabindex="0" href="{{ quick_view_product.url | within: collection }}">{{ 'products.product.view_options' | t }}</a>
  {% endif %}
{% endcapture %}

<safe-load-scripts class="hidden">
  <script src="{{ 'component-theme-modal.js' | asset_url }}" defer="defer" type="module" data-flow-load-key="theme-modal"></script>
</safe-load-scripts>

<theme-modal data-is-quick-view {% if settings.quick_shop_button_display == 'over_image' %}data-focus-on-close="false"{% else %}data-focus-on-close="true"{% endif %} data-fetch-section data-product-url="{{ quick_view_product.url }}?variant={{ quick_view_product.selected_or_first_available_variant.id }}" data-content-selector="[data-quick-view-product]" data-section-id="{{ section.id }}">
  {{ quick_view_link }}

  <template data-theme-modal-content>
    <div 
      data-modal-content 
      class="theme-modal-content popup-shadow"
    >
      {% comment %} Close icon {% endcomment %}
      <button type="button" data-close class="button-unstyled icon-fallback-text standalone-icon--wrapper" aria-label="{{ 'general.accessibility.dismiss.close' | t }}">
        <span class="fallback-text">{{ 'general.accessibility.dismiss.close' | t }}</span>
        {% render 'theme-icon' with icon: 'close', iconSize: 20 %}
      </button>

      <div class="theme-modal--inner">
        {% comment %} Modal Content {% endcomment %}
      </div>
    </div>
  </template>
</theme-modal>