{{ 'section-gallery.min.css' | asset_url | stylesheet_tag }}

{% if section.settings.remove-spacing and section.settings.section-width == 'full' %}
  {% assign no-spacing = ' no-spacing' %}
{% else %}
  {% assign no-spacing = '' %}
{% endif %}

<div
  class="wrapper-spacing--v wrapper-spacing--h color-scheme--{{ section.settings.colors }}{{ no-spacing }}{% if request.visual_preview_mode %} section-preview{% else %} show-on-scroll{% endif %}"
  data-wetheme-section-type="image--gallery" 
  data-wetheme-section-id="{{ section.id }}"
  style="--padding-section-top: {{ section.settings.section_padding_top }}px; --padding-section-bottom: {{ section.settings.section_padding_bottom }}px;"
>
  {% assign no_images = true %}
  {% for block in section.blocks %}
    {% if block.settings.image != blank %}
      {% assign no_images = false %}
    {% endif %}
  {% endfor %}

    <div class="homepage-gallery-background{% if section.settings.section-width == 'content' %} width--content{% endif %}">

      {% comment %} Section title and description {% endcomment %}
      {% render 'dynamic-section-header' with section_title: section.settings.title, section_description: section.settings.description, heading_tag: section.settings.section_title_tag %}

        <div class="gallery-grid gallery-grid--items-{{ section.blocks.size }} expand-grid{% if section.settings.remove-spacing %} remove-spacing{% else %} keep-spacing{% endif %}{% if no_images %} no-user-images{% endif %} content-position-{{ section.settings.content-position }}{% if section.settings.full-width %} gallery-full-width{% endif %}">
          {% for block in section.blocks %}

            <div
              class="homepage-gallery-grid-item homepage-gallery-grid-item--{{ section.settings.content-position }}{% if section.settings.grid_image_size != 'natural' %} homepage-gallery-grid-item__aspect-ratio--{{ section.settings.grid_image_size }}{% endif %} block-section--{{ block.id }}"
              data-animate
              data-animate-order="{% render 'block-animation-offset', 
              title: section.settings.title, 
              description: section.settings.description, 
              base: forloop.index 
              %}"
              {{ block.shopify_attributes }}
            >
              {% liquid
                assign overlay_opacity = 35
                assign overlay_opacity_decimal = overlay_opacity | divided_by: 100.0
              %}
              {% capture overlay_color_uniform %}
                rgba({{ block.settings.overlay_color.red }}, {{ block.settings.overlay_color.green }}, {{ block.settings.overlay_color.blue }}, {{ overlay_opacity_decimal }})
              {% endcapture %}

              <style>
                [data-wetheme-section-id="{{ section.id }}"] .block-section--{{ block.id }} .grid-item-details--background-gradient,
                [data-wetheme-section-id="{{ section.id }}"] .block-section--{{ block.id }} .hover-outer .hover-inner::before {
                  background: {{ overlay_color_uniform }};
                }

                {% unless section.settings.content-position == 'below-image' %}
                  [data-wetheme-section-id="{{ section.id }}"] .block-section--{{ block.id }} .grid-item__subheading,
                  [data-wetheme-section-id="{{ section.id }}"] .block-section--{{ block.id }} .grid-item__title {
                    color: rgba({{ block.settings.overlay_font_color.rgba }});
                  }
                {% endunless %}
              </style>

              <div class="homepage-gallery-grid-inner{% if section.settings.content-position == 'below-image' %} info-below-image{% elsif section.settings.grid_image_size != 'circle' and section.settings.remove-spacing == false %} block-radius-clip{% endif %}"{% if section.settings.content-position == 'hover' or section.settings.content-position == 'overlay' %}{% if block.settings.link != blank and block.settings.overlay-btn-text == blank %} data-animate-hover-zoom{% endif %}{% endif %}>
                <div class="overflow">
                  <div class="grid-image{% if section.settings.content-position == 'below-image' and section.settings.grid_image_size != 'circle' and section.settings.remove-spacing == false %} block-radius-clip{% endif %}">
                    {% if block.settings.link != blank and block.settings.overlay-btn-text == blank %}
                      <a href="{{ block.settings.link }}" class="grid-image--centered"{% if section.settings.content-position == 'below-image' or section.settings.content-position == 'hide' %} data-animate-hover-zoom{% endif %}>
                    {% endif %}

                      {% if block.settings.image == blank %}
                        {% assign svg_placeholder_classes = 'icon icon--placeholder' %}
                        {% unless section.settings.content-position == 'below-image' or section.settings.content-position == 'hide' %}
                          {% assign svg_placeholder_classes = svg_placeholder_classes | append: ' icon--placeholder--subdued' %}
                        {% endunless %}
                        <div class="grid-image--placeholder-wrapper">
                          {{ 'image' | placeholder_svg_tag: svg_placeholder_classes }}
                        </div>
                      {% else %}
                        {% render 'responsive-image' with block.settings.image, allow_stretch: true %}
                      {% endif %}

                    {% if block.settings.link != blank and block.settings.overlay-btn-text == blank %}
                      </a>
                    {% endif %}
                  </div>
                </div>

                {% unless section.settings.content-position == 'hide' %}
                <div class="grid-item-details--{{ section.settings.content-position }}{% if block.settings.show-gradient-overlay and section.settings.content-position != 'below-image' %} grid-item-details--background-gradient{% endif %} full-height"{% if section.settings.content-position == 'hover' %} data-animate-hover{% endif %}>
                    {% if block.settings.link != blank %}
                      {% if block.settings.overlay-btn-text == blank %}
                        <a href="{{ block.settings.link }}" class="gallery__link grid-item__content">
                      {% endif %}
                    {% endif %}

                    {% if block.settings.subheading != blank or block.settings.overlay-btn-text != blank or block.settings.title != blank %}
                      {% assign animation_order = 1 %}
                      <div class="grid-item__content{% if section.settings.buttons_style == 'underlined' %} text-link-animated{% endif %}{% unless block.settings.title == blank and block.settings.subheading == blank %}{% if section.settings.content-position == 'overlay' and block.settings.overlay-btn-text != blank %} grid-item__content--reveal-btn-on-hover{% endif %}{% endunless %}">
                        <div class="grid-item__content-inner">
                          {% if block.settings.subheading != blank %}
                            <div class="grid-item__subheading"{% if section.settings.content-position == 'hover' %} data-animate-hover-block data-animate-order="{{ animation_order }}"{% endif %}>{{ block.settings.subheading }}</div>
                            {% assign animation_order = animation_order | plus: 1 %}
                          {% endif %}
                          
                          {% if block.settings.title != blank %}
                            {% assign tag = block.settings.block_title_tag %}
                            <{{ tag }} class="grid-item__title {% if tag == 'span' %} h5{% endif %}"{% if section.settings.content-position == 'hover' %} data-animate-hover-block data-animate-order="{{ animation_order }}"{% endif %}>{{ block.settings.title }}</{{ tag }}>
                            {% assign animation_order = animation_order | plus: 1 %}
                          {% endif %}

                          {% if block.settings.overlay-btn-text != blank %}
                            {% if block.settings.override_button_colors %}
                              {% render 'button-color-overrides' with
                                id: block.id,
                                style: section.settings.buttons_style,
                                text_color: block.settings.button_text_color,
                                background_color: block.settings.button_background_color
                              %}
                            {% endif %}

                            {% liquid 
                              if section.settings.buttons_style == 'underlined' or block.settings.title == blank and block.settings.subheading == blank
                                assign a_classes = ''
                              else
                                assign a_classes = 'homepage-featured-box-btn'
                              endif
                            %}

                            {% if section.settings.content-position == 'hover' %}
                              {% capture button_attr %}
                                data-animate-hover-block
                                data-animate-order="{{ animation_order }}"
                              {% endcapture %}
                            {% endif %}
                            
                            {% render 'dynamic-section-button' with
                              id: block.id,
                              link: block.settings.link,
                              label: block.settings.overlay-btn-text,
                              style: section.settings.buttons_style,
                              a_classes: a_classes,
                              wrapper: false,
                              attributes: button_attr
                            %}
                          {% endif %}
                        </div>
                      </div>
                    {% endif %}

                    {% if block.settings.link != blank and block.settings.overlay-btn-text == blank %}
                      </a>
                    {% endif %}
                  </div>
                {% endunless %}
              </div>
            </div>
          {% endfor %}

          {% if section.blocks.size == 0 %}
            <div class="placeholder-noblocks">
              {{ 'homepage.onboarding.no_content' | t }}
            </div>
          {% endif %}
        </div>
    </div>
</div>

{% schema %}
{
  "name": "t:sections.image--gallery.name",
  "class": "image-gallery-wrapper",
  "max_blocks": 4,
  "settings": [
    {
      "type": "header",
      "content": "t:all.section_heading"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:all.Heading"
    },
    {
      "type": "select",
      "id": "section_title_tag",
      "label": "Tag del título de sección",
      "default": "h2",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" },
        { "value": "span", "label": "span" }
      ]
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:all.Description"
    },
    {
      "type": "header",
      "content": "t:all.Content"
    },
    {
      "type": "select",
      "id": "content-position",
      "label": "t:sections.image--gallery.settings.content-position.label",
      "default": "overlay",
      "options": [
        {
          "value": "hover",
          "label": "t:all.On_hover"
        },
        {
          "value": "overlay",
          "label": "t:all.Overlay"
        },
        {
          "value": "below-image",
          "label": "t:all.Below_image"
        },
        {
          "value": "hide",
          "label": "t:all.Hide"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "full-width",
      "default": false,
      "label": "t:sections.image--gallery.settings.full-width.label"
    },
    {
      "type": "header",
      "content": "t:all.Image"
    },
    {
      "type": "select",
      "id": "grid_image_size",
      "label": "t:all.Shape",
      "default": "natural",
      "options": [
        {
          "value": "natural",
          "label": "t:all.Original"
        },
        {
          "value": "circle",
          "label": "t:all.Circle"
        },
        {
          "value": "square",
          "label": "t:all.Square"
        },
        {
          "value": "tall",
          "label": "t:all.Tall"
        },
        {
          "value": "wide",
          "label": "t:all.Wide"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:all.Buttons"
    },
    {
      "type": "select",
      "id": "buttons_style",
      "label": "t:all.button_style",
      "default": "filled",
      "options": [
        {
          "value": "filled",
          "label": "t:all.Filled"
        },
        {
          "value": "outlined",
          "label": "t:all.Outlined"
        },
        {
          "value": "underlined",
          "label": "t:all.underlined"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:all.Layout"
    },
    {
      "type": "select",
      "id": "section-width",
      "label": "t:all.Width",
      "default": "content",
      "options": [
        {
          "value": "content",
          "label": "t:all.Content_width"
        },
        {
          "value": "full",
          "label": "t:all.Full_width"
        }
      ]
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "t:all.Spacing_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 60
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "t:all.Spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 60
    },
    {
      "type": "checkbox",
      "id": "remove-spacing",
      "default": false,
      "label": "t:all.Remove_spacing"
    },
    {
      "type": "header",
      "content": "t:all.Color"
    },
    {
      "type": "select",
      "id": "colors",
      "label": "t:all.Color_scheme",
      "default": "white",
      "options": [
        {
          "value": "white",
          "label": "t:all.Default"
        },
        {
          "value": "light",
          "label": "t:all.First"
        },
        {
          "value": "accent",
          "label": "t:all.Second"
        },
        {
          "value": "dark",
          "label": "t:all.Third"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:all.Image",
      "settings": [
        {
          "type": "header",
          "content": "t:all.Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:all.Image"
        },
        {
          "type": "header",
          "content": "t:all.Link"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:all.Link"
        },
        {
          "type": "header",
          "content": "t:all.Content"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "t:all.Subheading",
          "default": "t:all.Subheading"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:all.Heading",
          "default": "t:all.Heading"
        },
        {
          "type": "select",
          "id": "block_title_tag",
          "label": "Tag del título de bloque",
          "default": "h3",
          "options": [
            { "value": "h1", "label": "H1" },
            { "value": "h2", "label": "H2" },
            { "value": "h3", "label": "H3" },
            { "value": "h4", "label": "H4" },
            { "value": "h5", "label": "H5" },
            { "value": "h6", "label": "H6" },
            { "value": "span", "label": "span" }
          ]
        },
        {
          "type": "text",
          "id": "overlay-btn-text",
          "label": "t:all.Button_label"
        },
        {
          "type": "header",
          "content": "t:all.Buttons"
        },
        {
          "type": "checkbox",
          "id": "override_button_colors",
          "label": "t:all.Button_color_override",
          "default": false,
          "info": "t:all.Button_color_override_info"
        },
        {
          "type": "color",
          "id": "button_background_color",
          "label": "t:all.Primary_color",
          "default": "#E68819"
        },
        {
          "type": "color",
          "id": "button_text_color",
          "label": "t:all.Secondary_color",
          "default": "#FFFFFF",
          "info": "t:all.Secondary_button_color_info"
        },
        {
          "type": "header",
          "content": "t:all.Color"
        },
        {
          "type": "paragraph",
          "content": "t:all.Overlay_info_label"
        },
        {
          "type": "checkbox",
          "id": "show-gradient-overlay",
          "default": false,
          "label": "t:all.Enable_overlay_gradient"
        },
        {
          "type": "color",
          "id": "overlay_font_color",
          "label": "t:all.Text",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "overlay_color",
          "label": "t:all.Overlay",
          "default": "#242424"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image--gallery.presets.name",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay"
    ]
  }
}
{% endschema %}