{{ 'section-image-with-text.min.css' | asset_url | stylesheet_tag }}

{% case section.settings.colors %}
  {% when 'white' %}
    {%- assign color_scheme = 'color-scheme--white' -%}
  {% when 'light' %}
    {%- assign color_scheme = 'color-scheme--light' -%}
  {% when 'accent' %}
    {%- assign color_scheme = 'color-scheme--accent' -%}
  {% when 'dark' %}
    {%- assign color_scheme = 'color-scheme--dark' -%}
{% endcase %}

 <style>
   @media (max-width: 767px) {
    .section--{{ section.id }} .homepage-indiv-section-wrapper {
      display: flex;
      flex-direction: column;
    }
    .section--{{ section.id }} .reverse-mobile.homepage-indiv-section-wrapper {
      flex-direction: column-reverse !important;
    }
  }
  .section--{{ section.id }} .button-group {
    display: flex;
    gap: {{ section.settings.button_spacing }}px;
    {% if section.settings.button_label != blank or section.settings.secondary_button_label != blank or section.settings.text == blank %}
      {% if section.settings.buttons_style == 'link' %}
        margin-top: 50px;
      {% endif %}
    {% endif %}
  }
  .section--{{ section.id }} .button-group--stacked {
    flex-direction: column;
  }
  .section--{{ section.id }} .button-group--inline {
    flex-direction: row;
  }
  {% if section.settings.buttons_style == 'link' %}
    .section--{{ section.id }} .homepage-featured-box-btn {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 700;
      background: linear-gradient(to top, var(--color-scheme-text-color-transparent50) 0, var(--color-scheme-text-color-transparent50) 0), linear-gradient(to top, var(--color-scheme-text-color) 0, var(--color-scheme-text-color) 0);
      background-size: 100% 1px, 0 1px;
      background-position: 100% 100%, 0 100%;
      background-repeat: no-repeat;
    }
    .section--{{ section.id }} .homepage-featured-box-btn:hover {
      background-size: 0 1px, 100% 1px;
    }
  {% endif %}
  {% if section.settings.secondary_buttons_style == 'link' %}
    .section--{{ section.id }} .homepage-featured-box-btn.secondary {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 700;
      background: linear-gradient(to top, var(--color-scheme-text-color-transparent50) 0, var(--color-scheme-text-color-transparent50) 0), linear-gradient(to top, var(--color-scheme-text-color) 0, var(--color-scheme-text-color) 0);
      background-size: 100% 1px, 0 1px;
      background-position: 100% 100%, 0 100%;
      background-repeat: no-repeat;
    }
    .section--{{ section.id }} .homepage-featured-box-btn.secondary:hover {
      background-size: 0 1px, 100% 1px;
    }
  {% endif %}
</style>

{% assign animation_offset = 2 %}
{% assign animation_order = 1 %}

<div
  class="section--{{ section.id }} wrapper-spacing--v{% if section.settings.section-width == 'content' %} wrapper-spacing--h{% endif %} {{ color_scheme }} image-with-text__container{% unless section.settings.text_overlapping_image %} feature-row--no-overlapping{% else %} feature-row--overlapping{% endunless %}"
  data-wetheme-section-type="image--image-with-text" 
  data-wetheme-section-id="{{ section.id }}"
  style="--padding-section-top: {{ section.settings.section_padding_top }}px; --padding-section-bottom: {{ section.settings.section_padding_bottom }}px;"
>

  {% capture image_layout %}
    <div class="grid__item homepage-content--image homepage-content--{{ section.id }}{% if section.settings.text_overlapping_image %} overlapping-text{% else %} large--one-half{% endif %}{% if settings.animations_enabled %} kb-enabled{% endif %}{% if section.settings.section-width == 'content' %} block-radius{% endif %}">
      <div>
        {% if section.settings.image != blank %}
          <div id="image-with-text--{{ section.id }}" class="img">
            {% render 'responsive-image' with section.settings.image, sizes: '100vw', allow_stretch: true %}
          </div>
        {% else %}
          <div id="image-with-text--{{ section.id }}" class="placeholder-background img">
            {{ 'collection-4' | placeholder_svg_tag: 'icon icon--placeholder' }}
          </div>
        {% endif %}
      </div>
    </div>
  {% endcapture %}

  {% if section.settings.section-width == 'content' %}
    <div class="width--content">
  {% endif %}

    <div class="homepage-indiv-section-wrapper homepage-featured-content-wrapper feature-row__text--{{ section.settings.layout }} feature-row__text-alignment--{{ section.settings.text_alignment }}{% if section.settings.reverse_order_mobile %} reverse-mobile{% endif %}">
      {{ image_layout }}

      <div class="feature_row__image_wrapper{% if section.settings.text_overlapping_image %} homepage-featured-content-box{% else %} large--one-half{% endif %}">
        {% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %}

          {% unless section.settings.text_overlapping_image %}
            <div class="no-overlap-content-box">
          {% endunless %}

            <div class="homepage-featured-content-box-inner{% if request.visual_preview_mode %} section-preview{% else %} show-on-scroll{% endif %}">

              {% if section.settings.subheading != blank %}
                <div class="sitewide--title-wrapper" data-animate data-animate-order="{{ animation_order | plus: animation_offset }}">
                  <span class="h6" style="{% if section.settings.text_alignment == 'center' %}text-align: center; display: block;{% elsif section.settings.text_alignment == 'right' %}text-align: right; display: block;{% endif %}">{{ section.settings.subheading | escape }}</span>
                </div>
                {% assign animation_order = animation_order | plus: 1 %}
              {% endif %}

              {% if section.settings.title != blank %}
                {% assign tag = section.settings.title_tag | default: 'h2' %}
                  <div class="sitewide--title-wrapper" data-animate data-animate-order="{{ animation_order | plus: animation_offset }}">
                    <{{ tag }} class="homepage-sections--title {% if tag == 'span' %}h3{% endif %}" style="{% if section.settings.text_alignment == 'center' %}text-align: center;{% elsif section.settings.text_alignment == 'right' %}text-align: right;{% endif %}">{{ section.settings.title | escape }}</{{ tag }}>
                  </div>
                {% assign animation_order = animation_order | plus: 1 %}
              {% endif %}

              {% if section.settings.text != blank %}
                <div class="rte featured-row__subtext textarea text-link-animated richtext-block" data-animate data-animate-order="{{ animation_order | plus: animation_offset }}">
                  {{ section.settings.text }}
                </div>
                {% assign animation_order = animation_order | plus: 1 %}
              {% endif %}

              {% if section.settings.button_label != blank or section.settings.secondary_button_label != blank %}
               <div class="button-group button-group--{{ section.settings.button_layout }}">
                {% assign btn_order = 0 %}
                     
                {%- if section.settings.button_label != blank -%}
                  {% capture primary_attrs %}
                    data-animate
                    data-animate-order="{{ btn_order | plus: 1 }}"
                  {% endcapture %}
                  {% if section.settings.override_button_colors %}
                    {% render 'button-color-overrides' with
                      id: section.id,
                      style: section.settings.buttons_style,
                      text_color: section.settings.button_text_color,
                      background_color: section.settings.button_background_color
                    %}
                  {% endif %}
                  {% render 'dynamic-section-button' with
                    id: section.id,
                    link: section.settings.button_link,
                    label: section.settings.button_label,
                    style: section.settings.buttons_style,  
                    a_classes: 'homepage-featured-box-btn',
                    attributes: primary_attrs
                  %}
                  {% assign btn_order = btn_order | plus: 1 %}
                {%- endif -%}
              
                {%- if section.settings.secondary_button_label != blank -%}
                  {% capture secondary_attrs %}
                    data-animate
                    data-animate-order="{{ btn_order | plus: 1 }}"
                  {% endcapture %}
                  {% if section.settings.override_secondary_button_colors %}
                    {% render 'button-color-overrides' with
                      id: section.id,
                      style: section.settings.secondary_buttons_style,  
                      text_color: section.settings.secondary_button_text_color,
                      background_color: section.settings.secondary_button_background_color,
                      button: 'secondary'
                    %}
                  {% endif %}
                  {% render 'dynamic-section-button' with
                    id: section.id,
                    link: section.settings.secondary_button_link,
                    label: section.settings.secondary_button_label,
                    style: section.settings.secondary_buttons_style,  
                    a_classes: 'homepage-featured-box-btn secondary',
                    attributes: secondary_attrs
                  %}
                {%- endif -%}
              </div>
              {% endif %}
            </div>

          {% unless section.settings.text_overlapping_image %}
            </div>
          {% endunless %}
        {% endif %}
      </div>
    </div>

  {% if section.settings.section-width == 'content' %}
    </div>
  {% endif %}

</div>

{% schema %}
{
  "name": "t:sections.image--image-with-text.name",
  "class": "image-with-text-wrapper",
  "settings": [
    {
      "type": "header",
      "content": "t:all.Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:all.Image",
      "info": "t:sections.image--image-with-text.settings.image.info"
    },
    {
      "type": "radio",
      "id": "layout",
      "label": "t:all.image_position_desktop",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:all.Left"
        },
        {
          "value": "right",
          "label": "t:all.Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "reverse_order_mobile",
      "label": "Reverse content order in mobile",
      "default": false
    },
    {
      "type": "header",
      "content": "t:all.Content"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:all.Heading",
      "default": "t:sections.image--image-with-text.name"
    },
    {
      "type": "select",
      "id": "title_tag",
      "label": "Heading tag",
      "default": "h2",
      "options": [
        { "value": "h1", "label": "H1" },
        { "value": "h2", "label": "H2" },
        { "value": "h3", "label": "H3" },
        { "value": "h4", "label": "H4" },
        { "value": "h5", "label": "H5" },
        { "value": "h6", "label": "H6" },
        { "value": "span", "label": "span"}
      ]
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:all.Text",
      "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:all.Alignment_desktop",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "t:all.Left"
        },
        {
          "value": "center",
          "label": "t:all.Centered"
        },
        {
          "value": "right",
          "label": "t:all.Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "text_overlapping_image",
      "label": "t:sections.image--image-with-text.settings.text_overlapping_image.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:all.Button"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:all.Button_link"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:all.Button_label"
    },
    {
      "type": "select",
      "id": "buttons_style",
      "label": "t:all.button_style",
      "default": "filled",
      "options": [
        {
          "value": "filled",
          "label": "t:all.Filled"
        },
        {
          "value": "outlined",
          "label": "t:all.Outlined"
        },
        {
          "value": "underlined",
          "label": "t:all.underlined"
        },
        {
          "value": "link", 
          "label": "Link"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "override_button_colors",
      "label": "t:all.Button_color_override",
      "default": false,
      "info": "t:all.Button_color_override_info"
    },
    {
      "type": "color",
      "id": "button_background_color",
      "label": "t:all.Primary_color",
      "default": "#E68819"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "t:all.Secondary_color",
      "default": "#ffffff",
      "info": "t:all.Secondary_button_color_info"
    },
    {
      "type": "url",
      "id": "secondary_button_link",
      "label": "Secondary button link"
    },
    {
      "type": "text",
      "id": "secondary_button_label",
      "label": "Secondary button label"
    },
    {
      "type": "select",
      "id": "secondary_buttons_style",
      "label": "Secondary button style",
      "default": "outlined",
      "options": [
        { "value": "filled", "label": "Filled" },
        { "value": "outlined", "label": "Outlined" },
        { "value": "underlined","label": "Underlined" },
        { "value": "link", "label": "Link" }
      ]
    },
    {
      "type": "checkbox",
      "id": "override_secondary_button_colors",
      "label": "Override secondary button colors",
      "default": false
    },
    {
      "type": "color",
      "id": "secondary_button_background_color",
      "label": "Secondary button background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "secondary_button_text_color",
      "label": "Secondary button text color",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "button_layout",
      "label": "Button layout",
      "options": [
        { "value": "inline", "label": "Side by side" },
        { "value": "stacked", "label": "Stacked" }
      ],
      "default": "inline"
    },
    {
      "type": "range",
      "id": "button_spacing",
      "label": "Space between buttons (px)",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 10
    },
    {
      "type": "header",
      "content": "t:all.Layout"
    },
    {
      "type": "select",
      "id": "section-width",
      "label": "t:all.Width",
      "default": "full",
      "options": [
        {
          "value": "content",
          "label": "t:all.Content_width"
        },
        {
          "value": "full",
          "label": "t:all.Full_width"
        }
      ]
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "t:all.Spacing_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "t:all.Spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:all.Color"
    },
    {
      "type": "select",
      "id": "colors",
      "label": "t:all.Color_scheme",
      "default": "light",
      "options": [
        {
          "value": "white",
          "label": "t:all.Default"
        },
        {
          "value": "light",
          "label": "t:all.First"
        },
        {
          "value": "accent",
          "label": "t:all.Second"
        },
        {
          "value": "dark",
          "label": "t:all.Third"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image--image-with-text.presets.name"
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay"
    ]
  }
}
{% endschema %}
