{{ 'section-slideshow.min.css' | asset_url | stylesheet_tag }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400;0,6..96,700;1,6..96,400&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

{% assign animation_offset = 2 %}

<div 
	class="slideshow-slider-container wrapper-spacing--v slider-section--{{ section.id }}{% if section.settings.section_width == 'content' %} wrapper-spacing--h{% endif %}{% if request.visual_preview_mode %} section-preview{% else %} show-on-scroll{% endif %}"
	data-wetheme-section-type="image--slideshow" 
  data-wetheme-section-id="{{ section.id }}"
  style="--padding-section-top: {{ section.settings.section_padding_top }}px; --padding-section-bottom: {{ section.settings.section_padding_bottom }}px;"
>
	<div class="row{% if section.settings.section_width == 'content' %} width--content block-radius-clip{% endif %}">
		<div class="page-width col-md-12">
			{% if section.blocks.size > 0 %}

        {% for block in section.blocks %}
        {% comment %} We need a separate forloop for the block styles, since we can't include style tags within the swiper-wrapper element (Swiper breaks) {% endcomment %}
          
          {% assign slider-text-color = 'rgba(' | append: block.settings.caption-text.rgba | append: ')' %}
          {% assign image_overlay_color = 'rgba(' | append: block.settings.image_overlay.rgba | append: ')' %}
          {% assign image_overlay_opacity = 100 | minus: block.settings.image_overlay_opacity %}

          <style>
            {% comment %} Image overlay {% endcomment %}
            .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-image-overlay {
              background-color: color-mix(in srgb, {{ image_overlay_color }}, transparent {{ image_overlay_opacity }}%);
            }

            {% if block.settings.h1_heading_color != 'rgba(0,0,0,0)' %}
              .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-h1,
              .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-h1 a {
                color: rgba({{ block.settings.h1_heading_color.rgba }});
              }
            {% elsif block.settings.caption-text != 'rgba(0,0,0,0)' %}
              .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-h1,
              .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-h1 a {
                color: rgba({{ block.settings.caption-text.rgba }});
              }
            {% endif %}

            {% if block.settings.title_color != 'rgba(0,0,0,0)' %}
              .slider-section--{{ section.id }} .block-section--{{ block.id }} h2.homepage-sections--title,
              .slider-section--{{ section.id }} .block-section--{{ block.id }} h2.homepage-sections--title a {
                color: rgba({{ block.settings.title_color.rgba }});
              }
            {% elsif block.settings.caption-text != 'rgba(0,0,0,0)' %}
              .slider-section--{{ section.id }} .block-section--{{ block.id }} h2.homepage-sections--title,
              .slider-section--{{ section.id }} .block-section--{{ block.id }} h2.homepage-sections--title a {
                color: rgba({{ block.settings.caption-text.rgba }});
              }
            {% endif %}

            {% if block.settings.text_color != 'rgba(0,0,0,0)' %}
              .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-text-container .textarea,
              .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-text-container .textarea a {
                color: rgba({{ block.settings.text_color.rgba }});
              }
            {% elsif block.settings.caption-text != 'rgba(0,0,0,0)' %}
              .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-text-container .textarea,
              .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-text-container .textarea a {
                color: rgba({{ block.settings.caption-text.rgba }});
              }
            {% endif %}

            {% comment %} Caption text size {% endcomment %}

            .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-h1,
            .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-h1 h1,
            .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-h1 p {
              font-size: {{ block.settings.mobile-h1-heading-size }}px;
              line-height: {{ block.settings.mobile-h1-line-height }};
            }
            .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-h1 > :first-child {
              margin-top: 0;
            }
            .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-h1 > :last-child {
              margin-bottom: 0;
            }
            .slider-section--{{ section.id }} .block-section--{{ block.id }} h2.homepage-sections--title,
            .slider-section--{{ section.id }} .block-section--{{ block.id }} h2.homepage-sections--title p {
              font-size: {{ block.settings.mobile-caption-heading-size }}px;
              line-height: {{ block.settings.mobile-heading-line-height }};
              font-family: 'Raleway', sans-serif;
            }
            .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-text-container .featured-row__subtext,
            .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-text-container .featured-row__subtext p {
              font-size: {{ block.settings.mobile-caption-body-text-size }}px;
              line-height: {{ block.settings.mobile-text-line-height }};
              font-family: 'Bodoni Moda', serif;
            }

            @media screen and (min-width: 768px) {
              .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-h1,
              .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-h1 h1,
              .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-h1 p {
                font-size: {{ block.settings.desktop-h1-heading-size }}px;
                line-height: {{ block.settings.desktop-h1-line-height }};
              }
              .slider-section--{{ section.id }} .block-section--{{ block.id }} h2.homepage-sections--title,
              .slider-section--{{ section.id }} .block-section--{{ block.id }} h2.homepage-sections--title p {
                font-size: {{ block.settings.desktop-caption-heading-size }}px;
                line-height: {{ block.settings.desktop-heading-line-height }};
                font-family: 'Raleway', sans-serif;
              }
              .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-text-container .featured-row__subtext,
              .slider-section--{{ section.id }} .block-section--{{ block.id }} .slideshow-text-container .featured-row__subtext p {
                font-size: {{ block.settings.desktop-caption-body-text-size }}px;
                line-height: {{ block.settings.desktop-text-line-height }};
                font-family: 'Bodoni Moda', serif;
              }
            }
          </style>
        {% endfor %}

				<div class="row">
					<div class="col-md-12">
						<div
                class="swiper slideshow--mobile-height-{{ section.settings.mobile_height }} slideshow--desktop-height-{% if request.visual_preview_mode %}large{% else %}{{ section.settings.desktop_height }}{% endif %}"
								data-slider-id="{{ section.id }}"
								data-desktop-height="{{ section.settings.desktop_height }}"
								data-mobile-height="{{ section.settings.mobile_height }}"
								data-slider-slide-time="{{ section.settings.slide_transition_delay }}000"
								data-slider-transition-speed="1500"
								data-slider-animation="fade"
								data-slider-pagination-type="{{ section.settings.slide_navigation_style }}"
								data-draggable="{% if section.settings.slide_navigation_style == 'none' %}true{% else %}false{% endif %}"
						>
							<div class="swiper-wrapper"{% unless request.visual_preview_mode %} style="width:{{ section.blocks | size | times: 100 }}%;"{% endunless %}>
								

								{% for block in section.blocks %}
									{%- assign slide_is_link = false -%}
                  {%- assign animation_order = 1 -%}

									{% if block.settings.first_button_link != blank %}
											{%- assign slide_is_link = true -%}
									{% endif %}

									<div
										{{ block.shopify_attributes }} 
										data-slide-index="{{ forloop.index0 }}" 
										data-caption-color="rgba({{ block.settings.caption-text.rgba }})"
										data-block-id="{{ block.id }}"
										class=" 
											swiper-slide homepage-sections--slideshow-wrapper 
											{% if section.blocks.size == 1 or request.visual_preview_mode %}is-single-slide{% endif %} 
											block-section--{{ block.id }}
											{% if block.settings.text_position == 'center_left' %}text-position--center-left{% endif %}
											{% if block.settings.text_position == 'center' %}text-position--center{% endif %}
											{% if block.settings.text_position == 'center_right' %}text-position--center-right{% endif %}
											{% if block.settings.text_position == 'bottom_left' %}text-position--bottom-left{% endif %}
											{% if block.settings.text_position == 'bottom' %}text-position--bottom{% endif %}
											{% if block.settings.text_position == 'bottom_right' %}text-position--bottom-right{% endif %}
											{% if block.settings.mobile_text_position == 'center_left' %}mobile-text-position--center-left{% endif %}
											{% if block.settings.mobile_text_position == 'center' %}mobile-text-position--center{% endif %}
											{% if block.settings.mobile_text_position == 'center_right' %}mobile-text-position--center-right{% endif %}
											{% if block.settings.mobile_text_position == 'bottom_left' %}mobile-text-position--bottom-left{% endif %}
											{% if block.settings.mobile_text_position == 'bottom' %}mobile-text-position--bottom{% endif %}
											{% if block.settings.mobile_text_position == 'bottom_right' %}mobile-text-position--bottom-right{% endif %}
											{% if block.settings.mobile_text_position == 'text_top_button_bottom' %}mobile-text-position--text-top-button-bottom{% endif %}
										"
									>
										<div class="swiper-slide--inner{% if section.settings.section_width == 'content' %} block-radius-clip{% endif %}">
                      {%- liquid
                        assign kb_class = ''
                        if settings.animations_enabled and section.blocks.size == 1
                          assign kb_class = ' kb-enabled'
                        endif
                        assign mobile_image_class = ' slideshow-mobile-image' | append: kb_class
                        assign desktop_image_class = ' slideshow-desktop-image' | append: kb_class
                        assign desktop_as_mobile_image_class = ' slideshow-desktop-as-mobile-image' | append: kb_class
                      -%}
											{% if block.settings.image == blank %}
												{% capture current %}{% cycle 1, 2 %}{% endcapture %}
												{% assign placeholder_image_classes = 'icon icon--placeholder icon--placeholder--subdued' %}
                        {% if section.settings.section_width == 'content' %}
                          {% assign placeholder_image_classes = placeholder_image_classes | append: ' block-radius' %}
                        {% endif %}
                        <div class="responsive-placeholder-wrapper {{ kb_class }}">{{ 'lifestyle-' | append: current | placeholder_svg_tag: placeholder_image_classes | replace: '<svg', '<svg preserveAspectRatio="xMinYMin slice"' }}</div>

                        {% if block.settings.mobile_image %}
                          {% render 'responsive-image' with block.settings.mobile_image, wrapper_class: mobile_image_class, sizes: '100vw', allow_stretch: true %}
                        {% endif %}
                      {% else %}
                        {% if block.settings.mobile_image %}
                          {% render 'responsive-image' with block.settings.mobile_image, wrapper_class: mobile_image_class, sizes: '100vw', allow_stretch: true %}
                          {% render 'responsive-image' with block.settings.image, wrapper_class: desktop_image_class, allow_stretch: true, sizes: '100vw' %}
                        {% else %}
                          {% render 'responsive-image' with block.settings.image, wrapper_class: desktop_as_mobile_image_class, allow_stretch: true, sizes: '100vw' %}
                        {% endif %}
											{% endif %}

											<div class="slideshow-image-overlay"></div>

											{% if slide_is_link and block.settings.first_button_label == blank %}
												<a href="{{ block.settings.first_button_link }}" class="slideshow__link"{% if block.settings.second_button_label == blank %}style="z-index:20;"{% endif %} tabindex="-1"></a>
											{% endif %}

											<div 
												class="homepage-featured-content-box slideshow-mobile-overlay-text{% if section.settings.slide_navigation_style != 'none' and section.blocks.size > 1 %} has-navigation {{ section.settings.slide_navigation_style }}{% unless block.settings.text_position contains 'bottom' %} margin-normal{% endunless %}{% unless block.settings.mobile_text_position contains 'bottom' %} margin-normal-mobile{% endunless %}{% endif %}"
											>
												<div 
													class="homepage-featured-content-box-inner" {% if block.settings.h1_heading != blank and block.settings.title == blank %}style="gap: 0px;"{% endif %}
												>
													{% if block.settings.h1_heading != blank or block.settings.title != blank %}
														<div class="slideshow-title-container" data-animate data-animate-order="{{ 1 | plus: animation_offset }}">
															<div class="sitewide--title-wrapper slideshow-title">
                                {% if block.settings.h1_heading != blank %}
                                  <div class="slideshow-h1 rte">
                                    {{ block.settings.h1_heading }}
                                  </div>
                                {% endif %}
																{% if block.settings.title != blank %}
                                  <h2 class="homepage-sections--title homepage-section-title rte" id="{{ section.id }}_{{ block.id }}_title">
                                    {{ block.settings.title }}
                                  </h2>
                                {% endif %}
															</div>
														</div>
                            {% assign animation_order = animation_order | plus: 1 %}
													{% endif %}

													{% if block.settings.text != blank %}
														<div class="slideshow-text-container" data-animate data-animate-order="{{ animation_order | plus: animation_offset }}">
															<div class="rte featured-row__subtext textarea">{{ block.settings.text }}</div>
														</div>
                            {% assign animation_order = animation_order | plus: 1 %}
													{% endif %}

                                  {% if block.settings.first_button_label != blank or block.settings.second_button_label != blank %}
													<div class="slide-buttons">
                            {% if block.settings.first_button_label != blank %}
                              {% capture first_button_attr %}
                                data-section-main-link
                                data-animate
                                data-animate-order="{{ animation_order | plus: animation_offset }}"
                              {% endcapture %}

                              {% render 'dynamic-section-button' with
                                id: block.id,
                                link: block.settings.first_button_link,
                                label: block.settings.first_button_label,
                                style: block.settings.buttons_style,
                                div_classes: 'homepage-section-btn-container',
                                a_classes: 'homepage-section-btn',
                                attributes: first_button_attr
                              %}

                              {% assign animation_order = animation_order | plus: 1 %}
                            {% endif %}
                            
                            {% if block.settings.second_button_label != blank %}
                              {% capture second_button_attr %}
                                data-section-main-link
                                data-animate
                                data-animate-order="{{ animation_order | plus: animation_offset }}"
                              {% endcapture %}

                              {% render 'dynamic-section-button' with
                                id: block.id,
                                link: block.settings.second_button_link,
                                label: block.settings.second_button_label,
                                style: block.settings.buttons_style,
                                div_classes: 'homepage-section-btn-container',
                                a_classes: 'homepage-section-btn',
                                attributes: second_button_attr
                              %}
                            {% endif %}
													</div>
                                                  {% endif %}
                          {% if block.settings.override_button_colors %}
                            {% render 'button-color-overrides' with
                              id: block.id,
                              style: block.settings.buttons_style,
                              text_color: block.settings.button-text,
                              background_color: block.settings.button-background
                            %}
                          {% endif %}
												</div>
											</div>
										</div>
									</div>
								{% endfor %}
							</div>

							{% case section.settings.slide_navigation_style %}
								{% when 'arrows' %}
									<div class="image--slideshow__navigation arrows">
										<a href="#" class="flex-prev standalone-icon--wrapper">
											{% render 'theme-icon' with icon: 'chevron_left', iconWidth: 24, iconHeight: 24, iconColor: 'currentColor' %}
										</a>

										<div class="swiper-pagination"></div>

										<a href="#" class="flex-next standalone-icon--wrapper">
											{% render 'theme-icon' with icon: 'chevron_right', iconWidth: 24, iconHeight: 24, iconColor: 'currentColor' %}
										</a>
									</div>
								{% when 'bars' %}
									<div class="image--slideshow__navigation bars">
										<div class="swiper-pagination pagination-bars" data-pagination-style="bars"></div>
									</div>

									<style>
										.slider-section--{{ section.id }} .image--slideshow__navigation.bars .swiper-pagination.pagination-bars {
											display: grid;
											grid-template-columns: repeat({{ section.blocks.size }}, minmax(0, 200px));
											grid-template-rows: 1fr;
										}

                    .slider-section--{{ section.id }} .swiper-pagination-bullet.progress-bar.swiper-pagination-bullet-active b {
											animation-duration: {{ section.settings.slide_transition_delay | times: 1000 }}ms;
										}

										.slider-section--{{ section.id }} [data-slide-has-changed] .swiper-pagination-bullet.progress-bar.swiper-pagination-bullet-active b {
											animation-duration: {{ section.settings.slide_transition_delay | times: 1000 | plus: 1500 }}ms;
										}
									</style>
								{% when 'dots' %}
									<div class="image--slideshow__navigation dots">
										<div class="swiper-pagination pagination-bullets" data-pagination-style="dots"></div>
									</div>

									<style>
										.slider-section--{{ section.id }} .image--slideshow__navigation.dots .swiper-pagination.pagination-bullets {
											display: grid;
											grid-template-columns: repeat({{ section.blocks.size }}, minmax(0, auto));
											grid-template-rows: 1fr;
										}
									</style>
							{% endcase %}

						</div>
					</div>
				</div>
			{% endif %}

			{% if section.blocks.size == 0 %}
				<div class="placeholder-noblocks">
				  {{ 'general.onboarding.no_content' | t }}
				</div>
			{% endif %}

		</div>
	</div>
</div>

<style>
:root {
  --offset-top: 0px;
}
	/* Mobile — texto arriba, botón abajo */
	@media (max-width: 767px) {
		.slider-section--{{ section.id }} .homepage-sections--slideshow-wrapper.mobile-text-position--text-top-button-bottom .homepage-featured-content-box {
			align-self: stretch;
			justify-self: stretch;
			width: 100%;
			height: 100%;
			max-height: 100%;
		}

		.slider-section--{{ section.id }} .homepage-sections--slideshow-wrapper.mobile-text-position--text-top-button-bottom .homepage-featured-content-box-inner {
			height: 100%;
			min-height: 100%;
		}

		.slider-section--{{ section.id }} .homepage-sections--slideshow-wrapper.mobile-text-position--text-top-button-bottom .homepage-featured-content-box-inner .slide-buttons {
			margin-top: auto;
			justify-content: center;
		}

		.slider-section--{{ section.id }} .homepage-sections--slideshow-wrapper.mobile-text-position--text-top-button-bottom .homepage-featured-content-box-inner .slideshow-h1,
		.slider-section--{{ section.id }} .homepage-sections--slideshow-wrapper.mobile-text-position--text-top-button-bottom .homepage-featured-content-box-inner .slideshow-title h2,
		.slider-section--{{ section.id }} .homepage-sections--slideshow-wrapper.mobile-text-position--text-top-button-bottom .homepage-featured-content-box-inner .featured-row__subtext {
			text-align: center;
		}
    .slideshow-slider-container .homepage-featured-content-box {
      padding: 50px;
    }
    .homepage-featured-content-box-inner {
      margin-top: 15px;
      gap: 5px !important;
    }
	}

	/* Mobile */
	@media (max-width: 767px) {
		.slider-section--{{ section.id }} .slideshow--mobile-height-small {
			height: 250px;
		}
	
		.slider-section--{{ section.id }} .slideshow--mobile-height-medium {
			height: 300px;
		}
	
		.slider-section--{{ section.id }} .slideshow--mobile-height-large {
			height: 400px;
		}
	
		.slider-section--{{ section.id }} .slideshow--mobile-height-extra_large {
			height: 500px;
		}
	
		.slider-section--{{ section.id }} .slideshow--mobile-height-full_screen {
			height: 100vh;
		}
	
		.slider-section--{{ section.id }} .swiper:not(.slideshow--mobile-height-original) .responsive-image-wrapper {
			height: 100%;
			width: 100%;
		}
	}
	
	/* Desktop */
	@media (min-width: 768px) {
		.slider-section--{{ section.id }} .slideshow--desktop-height-small {
			height: 450px;
		}
	
		.slider-section--{{ section.id }} .slideshow--desktop-height-medium {
			height: 550px;
		}
	
		.slider-section--{{ section.id }} .slideshow--desktop-height-large {
			height: 650px;
		}

		.slider-section--{{ section.id }} .slideshow--desktop-height-extra_large {
			height: 750px;
		}

		.slider-section--{{ section.id }} .slideshow--desktop-height-full_screen {
			height: calc(100vh - var(--offset-top));
		}

		.slider-section--{{ section.id }} .swiper:not(.slideshow--desktop-height-original) .responsive-image-wrapper,
		.slider-section--{{ section.id }} .swiper:not(.slideshow--desktop-height-original) .responsive-placeholder-wrapper {
			height: 100%;
			width: 100%;
		}
	}

	.slider-section--{{ section.id }} .swiper-pagination-bullet {
		background: none;
		border: 1px solid currentColor;
		width: 11px;
		height: 11px;
		opacity: 1;
	}

	.slider-section--{{ section.id }} .swiper-pagination-bullet-active {
		background: currentColor;
	}

	{% unless section.settings.slide_navigation_style == 'arrows' and section.blocks.size > 1 %}
		.slider-section--{{ section.id }} .image--slideshow__navigation .flex-prev,
		.slider-section--{{ section.id }} .image--slideshow__navigation .flex-next{
			display:none;
		}
	{% endunless %}

	@media only screen and (max-width: 767px) {
		.slideshow-slider-container .swiper-slide .slideshow-desktop-image {
			display: none;
		}
	}
	@media only screen and (min-width: 768px) {
		.slideshow-slider-container .swiper-slide .slideshow-mobile-image {
			display: none;
		}
	}
</style>

<script>
  (function() {
  const header = document.querySelector('.header-section--wrapper');
  const announcement = document.querySelector('.announcement_wrapper');
  const annInitHeight = announcement ? announcement.offsetHeight : 0;

  function updateSlideshowOffset() {
    if (!header) return;

    let totalOffset = header.offsetHeight;
    if (announcement 
        && announcement.offsetHeight > 0 
        && window.scrollY <= annInitHeight) {
      totalOffset += announcement.offsetHeight;
    }

    document.documentElement.style.setProperty(
      '--offset-top',
      `${totalOffset}px`
    );
  }

  window.addEventListener('load', updateSlideshowOffset);
  window.addEventListener('resize', updateSlideshowOffset);
  window.addEventListener('scroll', updateSlideshowOffset);
})();
</script>

{% schema %}
{
  "name": "t:sections.image--slideshow.name",
  "class": "section--slideshow-wrapper",
  "max_blocks": 12,
  "settings": [
    {
      "type": "header",
      "content": "t:all.Desktop"
    },
    {
      "type": "select",
      "id": "desktop_height",
      "label": "t:all.Section_height",
      "options": [
        {
          "value": "original",
          "label": "t:all.Original"
        },
        {
          "value": "small",
          "label": "t:all.Small"
        },
        {
          "value": "medium",
          "label": "t:all.Medium"
        },
        {
          "value": "large",
          "label": "t:all.Large"
        },
        {
          "value": "extra_large",
          "label": "t:all.Extra_large"
        },
        {
          "value": "full_screen",
          "label": "t:all.Full_screen"
        }
      ],
      "default": "full_screen"
    },
    {
      "type": "header",
      "content": "t:all.Mobile"
    },
    {
      "type": "select",
      "id": "mobile_height",
      "label": "t:all.Section_height",
      "options": [
        {
          "value": "original",
          "label": "t:all.Original"
        },
        {
          "value": "small",
          "label": "t:all.Small"
        },
        {
          "value": "medium",
          "label": "t:all.Medium"
        },
        {
          "value": "large",
          "label": "t:all.Large"
        },
        {
          "value": "extra_large",
          "label": "t:all.Extra_large"
        },
        {
          "value": "full_screen",
          "label": "t:all.Full_screen"
        }
      ],
      "default": "extra_large"
    },
    {
      "type": "header",
      "content": "t:sections.image--slideshow.settings.slides.label"
    },
    {
      "type": "radio",
      "id": "slide_navigation_style",
      "label": "t:sections.image--slideshow.settings.slide_navigation_style.label",
      "options": [
        {
          "value": "none",
          "label": "t:all.None"
        },
        {
          "value": "arrows",
          "label": "t:sections.image--slideshow.settings.slide_navigation_style.options.arrows"
        },
        {
          "value": "bars",
          "label": "t:sections.image--slideshow.settings.slide_navigation_style.options.bars"
        },
        {
          "value": "dots",
          "label": "t:sections.image--slideshow.settings.slide_navigation_style.options.dots"
        }
      ],
      "default": "bars"
    },
    {
      "type": "range",
      "id": "slide_transition_delay",
      "min": 5,
      "max": 10,
      "step": 1,
      "unit": "t:all.sec",
      "label": "t:sections.image--slideshow.settings.slide_transition_delay.label",
      "default": 7
    },
    {
      "type": "header",
      "content": "t:all.Layout"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:all.Width",
      "default": "full",
      "options": [
        {
          "value": "content",
          "label": "t:all.Content_width"
        },
        {
          "value": "full",
          "label": "t:all.Full_width"
        }
      ]
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "label": "t:all.Spacing_top",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "label": "t:all.Spacing_bottom",
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "t:all.px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.image--slideshow.blocks.image.name",
      "settings": [
        {
          "type": "richtext",
          "id": "h1_heading",
          "label": "t:sections.image--slideshow.blocks.image.settings.h1_heading.label",
          "info": "t:sections.image--slideshow.blocks.image.settings.h1_heading.info"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "t:all.Heading",
          "default": "<p>Make a great<br>first impression</p>"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:all.Text",
          "default": "<p>Add images and text to give focus to your chosen product, collection, or blog post.</p>"
        },
        {
          "type": "header",
          "content": "t:all.Buttons"
        },
        {
          "type": "url",
          "id": "first_button_link",
          "label": "t:sections.image--slideshow.blocks.image.settings.first_button_link.label"
        },
        {
          "type": "text",
          "id": "first_button_label",
          "label": "t:sections.image--slideshow.blocks.image.settings.first_button_label.label",
          "default": "Shop now",
          "info": "t:sections.image--slideshow.blocks.image.settings.first_button_label.info"
        },
        {
          "type": "url",
          "id": "second_button_link",
          "label": "t:sections.image--slideshow.blocks.image.settings.second_button_link.label"
        },
        {
          "type": "text",
          "id": "second_button_label",
          "label": "t:sections.image--slideshow.blocks.image.settings.second_button_label.label",
          "default": "Learn more"
        },
        {
          "type": "select",
          "id": "buttons_style",
          "label": "t:all.button_style",
          "default": "filled",
          "options": [
            {
              "value": "filled",
              "label": "t:all.Filled"
            },
            {
              "value": "outlined",
              "label": "t:all.Outlined"
            },
            {
              "value": "underlined",
              "label": "t:all.underlined"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "override_button_colors",
          "label": "t:all.Button_color_override",
          "default": false,
          "info": "t:all.Button_color_override_info"
        },
        {
          "type": "color",
          "id": "button-background",
          "label": "t:all.Primary_color",
          "default": "#E68819"
        },
        {
          "type": "color",
          "id": "button-text",
          "label": "t:all.Secondary_color",
          "default": "#FFFFFF",
          "info": "t:all.Secondary_button_color_info"
        },
        {
          "type": "header",
          "content": "t:all.Desktop"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:all.Image"
        },
        {
          "type": "radio",
          "id": "text_position",
          "label": "t:all.Content_position",
          "options": [
            {
              "value": "center_left",
              "label": "t:all.Center_left"
            },
            {
              "value": "center",
              "label": "t:all.Center"
            },
            {
              "value": "center_right",
              "label": "t:all.Center_right"
            },
            {
              "value": "bottom_left",
              "label": "t:all.Bottom_left"
            },
            {
              "value": "bottom",
              "label": "t:all.Bottom"
            },
            {
              "value": "bottom_right",
              "label": "t:all.Bottom_right"
            }
          ],
          "default": "center_left"
        },
        {
          "type": "range",
          "id": "desktop-h1-heading-size",
          "label": "t:sections.image--slideshow.blocks.image.settings.h1_font_size_desktop.label",
          "min": 12,
          "max": 100,
          "step": 1,
          "unit": "t:all.px",
          "default": 48
        },
        {
          "type": "range",
          "id": "desktop-h1-line-height",
          "label": "t:all.line_height",
          "min": 0.8,
          "max": 2,
          "step": 0.1,
          "default": 1.2
        },
        {
          "type": "range",
          "id": "desktop-caption-heading-size",
          "label": "t:sections.image--slideshow.blocks.image.settings.heading_font_size_desktop.label",
          "min": 12,
          "max": 100,
          "step": 1,
          "unit": "t:all.px",
          "default": 60
        },
        {
          "type": "range",
          "id": "desktop-heading-line-height",
          "label": "t:all.line_height",
          "min": 0.8,
          "max": 2,
          "step": 0.1,
          "default": 1.2
        },
        {
          "type": "range",
          "id": "desktop-caption-body-text-size",
          "label": "t:sections.image--slideshow.blocks.image.settings.text_font_size_desktop.label",
          "min": 12,
          "max": 100,
          "step": 1,
          "unit": "t:all.px",
          "default": 24
        },
        {
          "type": "range",
          "id": "desktop-text-line-height",
          "label": "t:all.line_height",
          "min": 0.8,
          "max": 2,
          "step": 0.1,
          "default": 1.5
        },
        {
          "type": "header",
          "content": "t:all.Mobile"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "t:all.Image_Optional"
        },
        {
          "type": "radio",
          "id": "mobile_text_position",
          "label": "t:all.Content_position",
          "options": [
            {
              "value": "center_left",
              "label": "t:all.Center_left"
            },
            {
              "value": "center",
              "label": "t:all.Center"
            },
            {
              "value": "center_right",
              "label": "t:all.Center_right"
            },
            {
              "value": "bottom_left",
              "label": "t:all.Bottom_left"
            },
            {
              "value": "bottom",
              "label": "t:all.Bottom"
            },
            {
              "value": "bottom_right",
              "label": "t:all.Bottom_right"
            },
            {
              "value": "text_top_button_bottom",
              "label": "t:sections.image--slideshow.blocks.image.settings.mobile_text_position_text_top_button_bottom.label"
            }
          ],
          "default": "center_left"
        },
        {
          "type": "range",
          "id": "mobile-h1-heading-size",
          "label": "t:sections.image--slideshow.blocks.image.settings.h1_font_size_mobile.label",
          "min": 12,
          "max": 100,
          "step": 1,
          "unit": "t:all.px",
          "default": 28
        },
        {
          "type": "range",
          "id": "mobile-h1-line-height",
          "label": "t:all.line_height",
          "min": 0.8,
          "max": 2,
          "step": 0.1,
          "default": 1.2
        },
        {
          "type": "range",
          "id": "mobile-caption-heading-size",
          "label": "t:sections.image--slideshow.blocks.image.settings.heading_font_size_mobile.label",
          "min": 12,
          "max": 100,
          "step": 1,
          "unit": "t:all.px",
          "default": 36
        },
        {
          "type": "range",
          "id": "mobile-heading-line-height",
          "label": "t:all.line_height",
          "min": 0.8,
          "max": 2,
          "step": 0.1,
          "default": 1.2
        },
        {
          "type": "range",
          "id": "mobile-caption-body-text-size",
          "label": "t:sections.image--slideshow.blocks.image.settings.text_font_size_mobile.label",
          "min": 12,
          "max": 100,
          "step": 1,
          "unit": "t:all.px",
          "default": 16
        },
        {
          "type": "range",
          "id": "mobile-text-line-height",
          "label": "t:all.line_height",
          "min": 0.8,
          "max": 2,
          "step": 0.1,
          "default": 1.5
        },
        {
          "type": "header",
          "content": "t:all.Color"
        },
        {
          "type": "color",
          "id": "h1_heading_color",
          "label": "t:all.h1",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "t:all.Heading",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:all.Text",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "caption-text",
          "label": "t:sections.image--slideshow.blocks.image.settings.caption_text_fallback.label",
          "info": "t:sections.image--slideshow.blocks.image.settings.caption_text_fallback.info",
          "default": "#ffffff"
        },
        {
          "type": "color",
          "id": "image_overlay",
          "label": "t:sections.image--slideshow.blocks.image.settings.image_overlay.label",
          "default": "#242424"
        },
        {
          "type": "range",
          "id": "image_overlay_opacity",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "t:all.percentage",
          "label": "t:sections.image--slideshow.blocks.image.settings.image_overlay_opacity.label",
          "default": 0
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image--slideshow.presets.name",
      "settings": {
        "slide_transition_delay": 7
      },
      "blocks": [
        {
          "type": "image",
          "settings": {
            "title": "<p>Make a great<br>first impression</p>",
            "text": "<p>Add images and text to give focus to your chosen product, collection, or blog post.</p>"
          }
        },
        {
          "type": "image",
          "settings": {
            "title": "<p>Promote your<br>top earners</p>",
            "text": "<p>Showcase key products or collections to maximise your profits</p>"
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "custom.overlay"
    ]
  }
}
{% endschema %}
