{{ 'section-password.min.css' | asset_url | stylesheet_tag }}

{% style %}
:root {
  --password-main-background-color: rgba({{ section.settings.main-background-color.rgba }});
  --password-main-text-color: rgba({{ section.settings.main-text-color.rgba }});
  --password-main-border-color: color-mix(in srgb, var(--password-main-text-color), transparent 50%);
}

.password--wrapper {
  height: 100vh;
}

input#PasswordEmail,
input#password {
  color: var(--color-scheme-text-color);
  border: 1px solid var(--color-scheme-text-color);
  transition: border 0.15s ease-in-out;
}

/* Reset default focus state when using mouse */
.using-mouse input#PasswordEmail:focus-visible, 
.using-mouse input#password:focus-visible {
  outline-width: 0;
}

.using-mouse input#PasswordEmail:focus, 
.using-mouse input#password:focus {
  border: 1px solid var(--color-scheme-text-color);
}

.password--enter-label + .input-group {
  margin-top: 30px;
  display: flex;
}

.password--enter-label + .input-group .input-group-btn {
  margin-bottom: 0;
  width: auto;
}

.password--logo img{
  width: {{ section.settings.logo_max_width }}px;
}

.powered,
.powered a,
.password-show {
	color: rgba({{ section.settings.main-text-color.rgba }});
}

{% if section.settings.password__background %}
  {% render 'responsive-background-image' with section.settings.password__background, selector: '.password--container' %}
  .password--container {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  html {
    height: 100vh; /* set viewport constraint */
    min-height: 100%; /* enforce height */
  }
{% else %}
  .password--container {
    background-color: var(--password-main-background-color);
    color: var(--password-main-text-color);
  }
{% endif %}
{% endstyle %}

<header class="site-header color-scheme--{{ section.settings.color_scheme }}" style="display: none;">
	<div class="site-header--inner" role="dialog" aria-modal="true" aria-label="Enter store using password">
		{% form 'storefront_password' %}
			{{ form.errors | default_errors }}
			<div class="form-group">
			<label for="password" class="password--enter-label">{{ 'coming_soon.general.password' | t }}</label>
			<div class="input-group">
        <input type="password" name="password" id="password" placeholder="{{ 'coming_soon.general.enter_password' | t }}" class="form-control password--input" />
        <span class="input-group-btn">
          <button class="standalone-icon--wrapper" name="commit" type="submit">
            {% render 'theme-icon' with icon: 'chevron_right', iconSize: 20 %}
          </button>
        </span>
			</div>
			</div>
		{% endform %}
		<p class="password--store-owner-links text-link-animated">{{ 'coming_soon.general.store_owner' | t }} {{ 'coming_soon.general.store_owner_html' | t }}</p>
		<div><a tabindex="0" aria-label="{{ 'general.accessibility.dismiss.close' | t }}" class="password--close standalone-icon--wrapper" href="#">{% render 'theme-icon' with icon: 'close', iconSize: 20 %}</a></div>
	</div>
</header>

<div id="password-wrapper--main" class="password--wrapper show-on-scroll">

  <div class="password--main-container">
	<section class="password--main popup-shadow color-scheme--{{ section.settings.color_scheme }} block-radius">

		<div class="password--logo" data-animate data-animate-order="1">
      {% if section.settings.logo %}
        {% assign scaled_image_size = section.settings.logo_max_width | times: 2 %}
          <img class="theme-img" src="{{ section.settings.logo | image_url: width: section.settings.logo_max_width }}"
          srcset="{{ section.settings.logo | image_url: width: section.settings.logo_max_width }} 1x, {{ section.settings.logo | image_url: width: scaled_image_size }} 2x"
          alt="{{ section.settings.logo.alt | default: shop.name }}"
          itemprop="logo"
          loading="lazy">
      {% else %}
        {{ shop.name | escape }}
      {% endif %}
		</div>

    {% assign animation_order = 2 %}
    {% if section.settings.password__header-text != blank %}
      <h1 class="custom-font" data-animate data-animate-order="{{ animation_order | plus: 1 }}">{{ section.settings.password__header-text }}</h1>
      {% assign animation_order = animation_order | plus: 1 %}
    {% endif %}

		{% if shop.password_message and shop.password_message != '' %}
			<div class="password--welcome-message text-link-animated" data-animate data-animate-order="{{ animation_order | plus: 1 }}">
				<p>{{ shop.password_message }}</p>
			</div>
			{% assign animation_order = animation_order | plus: 1 %}
		{% endif %}

    {% if section.settings.newsletter_enable %}

		<div class="password--mailing-list">
			{% form 'customer', id: 'newsletter_password_form' %}
				{{ form.errors | default_errors }}
				{% if form.posted_successfully? %}
					<div class="alert alert-success" role="alert" data-animate data-animate-order="{{ animation_order | plus: 1 }}">
						{{ 'coming_soon.general.thanks_mailing' | t }}
					</div>
					{% assign animation_order = animation_order | plus: 1 %}
				{% else %}
				<div class="form-group">
          {% if section.settings.newsletter_description != empty %}
            <div class="rte text-link-animated richtext-block" data-animate data-animate-order="{{ animation_order | plus: 1 }}">{{ section.settings.newsletter_description }}</div>
            {% assign animation_order = animation_order | plus: 1 %}
          {% endif %}
					<div class="input-group" data-animate data-animate-order="{{ animation_order | plus: 1 }}">
						<input type="hidden" name="contact[tags]" value="prospect, password page">
						<input type="email" name="contact[email]" id="PasswordEmail" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" class="form-control password--input" pattern=".+@.+\..+" title="{{ 'general.forms.email_must_be_formatted_as_an_email' | t }}">
						<span class="input-group-btn">
              <button type="submit" class="standalone-icon--wrapper">
                {% render 'theme-icon' with icon: 'chevron_right', iconSize: 20 %}
              </button>
            </span>
					</div>
          {% assign animation_order = animation_order | plus: 1 %}
				</div>
				{% endif %}
			{% endform %}
		</div>

    {% endif %}

    {% if section.settings.social_media_icons %}
      <div data-animate data-animate-order="{{ animation_order | plus: 1 }}">
        {% render 'social-icons' %}
      </div>
    {% endif %}

	</section>
  </div>

  <footer id="password--footer" class="text-link-animated">
    <div class="powered">
      {{ 'coming_soon.general.powered_by_html' | t }}
    </div>

    <div class="password--site-owner-options">
      <a href="#" class="password-show">{{ 'coming_soon.general.password' | t }}</a>
    </div>
  </footer>

</div>

{% schema %}
{
  "name": "t:sections.template--password.name",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:all.Logo",
      "info": "t:sections.template--password.settings.logo.info"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 400,
      "step": 10,
      "unit": "t:all.px",
      "label": "t:all.Maximum_width",
      "default": 200
    },
    {
      "type": "text",
      "id": "password__header-text",
      "label": "t:all.Heading",
      "default": "Will be opening soon..."
    },
    {
      "type": "paragraph",
      "content": "t:sections.template--password.settings.paragraph-13.content"
    },
    {
      "type": "checkbox",
      "id": "social_media_icons",
      "label": "t:all.Show_social_media_icons",
      "default": true,
      "info": "t:sections.template--password.settings.social_media_icons.info"
    },
    {
      "type": "header",
      "content": "t:all.Newsletter"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "t:sections.template--password.settings.newsletter_enable.label",
      "default": true
    },
    {
      "type": "richtext",
      "id": "newsletter_description",
      "label": "t:all.Description",
      "default": "<p>Find out when we open</p>"
    },
    {
      "type": "header",
      "content": "t:all.Background"
    },
    {
      "type": "image_picker",
      "id": "password__background",
      "label": "t:all.Image",
      "info": "t:all.2000_x_900px_recommended"
    },
    {
      "type": "color",
      "id": "main-background-color",
      "label": "t:all.Background",
      "default": "#494949",
      "info": "t:sections.template--password.settings.background_info.content"
    },
    {
      "type": "color",
      "id": "main-text-color",
      "label": "t:all.Footer_text",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "t:all.Caption_color"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "t:all.Color_scheme",
      "options": [
        {
          "value": "white",
          "label": "t:all.Default"
        },
        {
          "value": "light",
          "label": "t:all.First"
        },
        {
          "value": "accent",
          "label": "t:all.Second"
        },
        {
          "value": "dark",
          "label": "t:all.Third"
        }
      ],
      "default": "white"
    }
  ]
}
{% endschema %}
